.places{
    position:relative;
    background:rgb(255, 255, 255);
    width:160px;
    margin: 10px; 
    text-align:left;
    padding:5px;
    border-collapse: collapse;
}
.places td {
width:22px;
height:22px;
text-align:center;
}
.solid {
    border: 1px solid #d2cdd1;
    border-top:none;
    background-color:#e7e7e7;
    text-align:center;
    cursor:pointer;
}